.home{
    width: 100%;
    max-height: 80vw;
    background-color: rgb(240, 240, 123);
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.homeImg{
    width: 50%;
    display: flex;
    justify-content: center;
}

.homeImgPikachu{
    width: 40%;
    margin-top:-7%;
}

.homeWelcome{ 
    margin: auto;
    padding-right: 2vw;
    z-index: 21;
    
    
}

.homeWelcome h1{
    display: flex;
    margin-left: auto;
    font-size: 4vw;
    margin-top: -5vw;
}

.homeWelcome p{
    display: flex;
    margin: auto;
    font-size: 1vw;
    justify-content: center;
    padding: 5%;
    
}

.heroButtonBox{ 
    z-index: 21;
    width: 50%;
    display: flex;
    justify-content: center;
    position: absolute;
    right: 0px;
    padding-right: 1vw;
    height: 40vw;
    max-height: 25vw;
    top:100px
    
    
}

 .homeButton{
    display: flex;
    position: absolute;
    bottom: 10%;
    font-size: 1.2em;
    color: white;
    background-image: -webkit-linear-gradient(left, #5aa4f8, #58d47d);
} 

.heroWave{
    display: flex;
    overflow: hidden;

}

.heroWave svg{
    height: 12vw;
    width: 100%;
    z-index: 11;
    margin-top: 13vw;
    
}

.heroWave path{
    stroke: none; 
    fill: rgb(255, 255, 255);
    
}