.header {
    background-color: rgb(240, 240, 123);
    display: flex;
    width: 97vw;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}

.header-logo-conteiner{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-left: 3vw;

}

.header-logo-conteiner p{
    font-size: 1.5em;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    margin-left: 10px;
    color: black;
    
}

.pokeIcon{
    display: flex;
    width: 64px;
}

.header-nav{
    display: flex;
    width: 360px;
    justify-content: space-around;
    margin-right: 5vw;   

}

.header-nav-link{
    text-decoration: none;
    color: black;
    font-weight: bold;
}