.conteiner {
  display: flex;
  width: 100%;
  margin-top: 10%;
  height: 40vw;
}

.conteinerVideo {
  display: flex;
  width: 50%;
}

.conteinerVideoFix {
  width: 70%;
  height: 20vw;
  margin: auto;
  margin-right: 2vw;
  margin-top: 18vw;
}

.videoWaveUp {
  display: flex;
  position: absolute;
  height: 29.7vw;
  z-index: -1;
  margin-top: -5vw;
  fill: #0778a5;
}

.videoWaveDown {
  display: flex;
  position: absolute;
  height: 29.7vw;
  margin-top: 24vw;
  z-index: -1;
  fill: #0778a5;
  transform: rotate(180deg);
}

.videoText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50vw;
  font-size: 3vw;
  font-weight: bold;
  margin-top: 10vw;
}

.videoText h2 {
  display: table-cell;
  text-align: center;
  width: 60%;
  font-size: 3vw;
  margin-left: -10vw;
}

.videoButtonBox{
  display: flex;
  align-items: center;
}

.videoButtonBox a{
  text-decoration: none;
  margin-left: -8vw;
  
}
