footer{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100vw;
    height: 50px;
    margin: auto;
    margin-top: 10vw;
    background-color: gray;
}

footer p{
    font-size: 1.3em;
    align-items: center;
    margin: auto;
}