/* Estilos para History ---------------- */
.historyConteiner h1 {
  text-align: center;
  font-size: 5vw;
}

.history1980 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10vw;
  margin-top: 5%;
  width: 80vw;
  border-left: solid;
  border-color: #6dd19a;
  border-width: 0.5vw;
}

.date1980 {
  display: flex;
  max-width: 15em;
  min-width: 15em;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.date1980 h1 {
  align-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #6dd19a;
}

.icon1980 {
  display: flex;
  justify-content: center;
  width: 4em;
}

.history1980Info {
  display: flex;
  flex-flow: column;
  margin: auto;
}

.historyFirstStep80 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #6dd19a;
  margin-top: 5%;
}

.history1980Text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: #202020;
  margin-top: 3%;
  width: auto;
  width: 100%;
  max-width: 30em;
  text-align: justify;
}

/* 1996------------------- */

.history1996 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10vw;
  margin-top: 5%;
  width: 80vw;
  border-right: solid;
  border-color: #ee4a4a;
  border-width: 0.5vw;
}

.date1996 {
  display: flex;
  max-width: 15em;
  min-width: 15em;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.date1996 h1 {
  align-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ee4a4a;
}

.icon1996 {
  display: flex;
  justify-content: center;
  width: 4em;
}

.history1996Info {
  display: flex;
  flex-flow: column;
  margin: auto;
}

.historyFirstStep96 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #ee4a4a;
  margin-top: 5%;
}

.history1996Text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: #202020;
  margin-top: 3%;
  width: auto;
  width: 100%;
  max-width: 30em;
  text-align: justify;
}

/* 1998------------------- */

.history1998 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10vw;
  margin-top: 5%;
  width: 80vw;
  border-left: solid;
  border-color: #eede4a;
  border-width: 0.5vw;
}

.date1998 {
  display: flex;
  max-width: 15em;
  min-width: 15em;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.date1998 h1 {
  align-self: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #eede4a;
}

.icon1998 {
  display: flex;
  justify-content: center;
  width: 4em;
}

.history1998Info {
  display: flex;
  flex-flow: column;
  margin: auto;
}

.historyFirstStep98 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #eede4a;
  margin-top: 5%;
}

.history1998Text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1em;
  color: #202020;
  margin-top: 3%;
  width: auto;
  width: 100%;
  max-width: 30em;
  text-align: justify;
}
